<div class="flex items-start justify-start w-full p-4 h-screen flex-row">
    {% for product in collections.first.products %}
        <div class="h-48 w-48 p-4">
            <span>{{ product.title }}</span>
            <span>{{ product.price | money }}</span>
            <span>{{ product.description }}</span>
        </div>
    {% endfor %}
</div>